**/.idea/
**/*.iml
**/target/
**/ivysettings.xml
**/ivy.xml
**/build.xml
**/build.properties
**/default.properties
**/commons.xml
**/admin.xml
**/build.gradle
**/gradle.properties
**/buildSrc/
**/*.swp
**/*.swa
**/lib/
bin/
tags
target/classes/ru/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/surefire-reports/
