<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:postgresql://172.19.1.138:5432/ods_dev</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">ods</property>
        <property name="connection.password"></property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="swow_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <mapping class="ru.fors.ods3.base.domain.FdcAsAddrobjEntity"/>
        <mapping class="ru.fors.ods3.msnow.domain.FdcWeatherEntity"/>

    </session-factory>
</hibernate-configuration>
